
@{
    ViewBag.ActiveMenu = PageNames.Home;
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <div class="card bg-red">
            <div class="card header">Header</div>
            <div class="card body">
                <h2 class="card-inside-title">Danger card title</h2>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3">
        Content
    </div>
    <div class="col-sm-offset-0 col-sm-5 col-md-3">
        Content
    </div>
    <div class="col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-3">
        Content
    </div>
    <div class="col-sm-offset-0 col-sm-5 col-md-3">
        Content
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        Content
    </div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

